*{
    margin:0;
    padding:0;
}
body {
    font: 12px/1 "\u5b8b\u4f53", Tahoma, Geneva, sans-serif;
    color:whitesmoke;
    font-family: "SimSun";
    background: url(../img/index.jpg)  no-repeat;
}
h2,h3{
    text-align: center;
}
a{
    color:whitesmoke;
    text-decoration:none;
}
#all{
    padding-top: 250px;
    padding-bottom: 300px;
}
.title1{
    font-size: 35px;
}
.title2{
    font-size: 30px;
}
#in{
    text-align: center;
    font-size: 20px;
}